{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main>
    <div class = "body-container">

        <article class="article-container dotted-wrapper">

            <header>
                <h1>{{title}}</h1>
            </header>

            <section>
                {{content}}
            </section>

        </article>

    </div>
</main>

{{/post}}
